@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #8096A3;
}
.button2 {
  height: 2.5rem;
  width: 18rem;
  border-radius: 30px;
  background-color: #ededed;
}

.jar {
  margin-left: 15px;
  margin-top: -64px;
}

.logo-user-setup {
  margin-left: 32px;
  padding-top: 32px;
}

#start {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #F5CE00;
  text-align: start;
}

#next-button {
  /* position: absolute; */
  width: 190px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#next {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

#next-button-sm {
  /* position: absolute; */
  width: 126px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  background: #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#previous-button-sm {
  /* position: absolute; */
  width: 126px;
  height: 36px;
  /* left: 93px;
  top: 744px; */
  border: 1px solid #F5CE00;
  box-shadow: 0px 2px 1px rgba(36, 36, 36, 0.15);
  border-radius: 20px;
  align-items: center;
  /* padding: 0px 92px 30px 93px; */
}

#previous {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5CE00;
}

#input-satu {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 0px 8px 0px 8px;
  margin-top: 12px;
  @apply text-sm text-[#666666];
}

input[type='number'] {
  padding: 4px 8px 4px 8px;
}

input:focus, select:focus {
  outline: none;
}

#profile-div{
  display: flex;
  justify-content: center;
}

#file-upload{
  display: none;
}

#add-photo {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #666666;
  /* padding: 6px 116px 9px 116px; */
}

.button_bawah {
  padding-top: 30px;
  justify-content: space-evenly;
}


#topContainer-user {
  position: absolute;
  background: #c1c0a7;
  box-shadow: -5px -5px 20px #FFFFFF, 5px 5px 20px rgba(174, 174, 192, 0.5);
  padding: 48px 11px 41px 11px;
  width: 390px;
}

.top-content {
  margin-top: -110px;
}

#deliver-to {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 0px 0px 0px 10px;
  margin-left: 32px;
}


#address-user {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: white;
  padding: 0px 57px 15px 8px;
  margin-left: 32px;
}

#craving {
  font-size: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

#card {
  width: 315px;
  justify-content: space-between;
}

#near-me, #top-rated, #disc, #cuisines {
  display: inline-block;
  vertical-align: bottom;
}

.near-me, .top-rated, .disc, .cuisine {
  width: 50px;
}

#carousel {
  position: absolute;
  height: 94px;
  width: 310px;
  left: 35px;
  top: 317px;
}

#nama-carousel {
  
}


#bawahnya {
  font-size: 12px;
}

#reward {
  position: absolute;
width: 217px;
height: 95px;
top: 587px;
margin-left: 32px;
display: flex;
align-items: center;
}

#rewards {
  width: 75px;
  margin-left:30px;
}

.container {
  /* height: fit-content; */
  /* width: fit-content; */
  display: flex;
}
